{% extends "content_layout.html" %}

{% block inner_content %}
<h1>{{ title }}</h1>

<!-- <label for="username">Фильтр по имени</label><br>
<input type="text" id="username" name="username" style="width:100%; padding:6px; margin-bottom:10px;"><br> -->
<form action="/users_refresh" method="post">
    <button type="submit">Запросить юзеров с клиентов</button>
</form>

<button type="submit", id="RefreshUsersButton">Обновить таблицу</button>

<label id="hide_no_login_lbl">
    <input type="checkbox"
            id="hide_no_login"
           class="square-checkbox">
    <span>Скрыть no-login пользователей</span>
</label>



<form style="height: 90%;" action="/users/remove/submit" method="post">
<div style="max-height:85%; overflow-y:auto; border:1px solid #ccc;">
<table id="table_data">
    
</table>
</div>
<button type="submit">Удалить</button>
</form>

<script>
const cb_hide_no_login = document.getElementById("hide_no_login"); 
const refr_users_btn = document.getElementById("RefreshUsersButton");

async function loadTable() {
    const hide_no_login = cb_hide_no_login.checked ? "1" : "0";

    const resp = await fetch(`/users/get?arg=delete&filter=${hide_no_login}`);
    const data = await resp.json(); // data = [ [..row..], [..row..] ]

    const tbody = document.getElementById("table_data");
    tbody.innerHTML = "";

    data.forEach(row => {
        const tr = document.createElement("tr");
        const tdCheck = document.createElement("td");
        const cb = document.createElement("input");
        cb.type = "checkbox";
        cb.value = `${row[0]}-${row[1]}`;
        cb.textContent = row[1];
        cb.name="options"
        tdCheck.appendChild(cb);
        tr.appendChild(tdCheck);

        for (let i = 1; i < row.length; i++) {
            const td = document.createElement("td");
            td.textContent = row[i];
            tr.appendChild(td);
        }
        tbody.appendChild(tr);
    });
}


window.addEventListener("DOMContentLoaded", () => {
    loadTable();
});
cb_hide_no_login.addEventListener("click", () => {
    cb_hide_no_login.classList.toggle("checked", cb_hide_no_login.checked);
    loadTable();
});

</script>

<style>
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

</style>

{% endblock %}